/* Box resizer grip */
.box-resizer-grip {
  width: var(--size-xsmall);
  height: var(--size-xsmall);
  position: absolute;
  right: 0;
  bottom: 0;
  cursor: nwse-resize;
  background: var(--figma-color-icon);
}

/* List */
ul.list {
  overflow-y: auto;
  padding: 1px 0;
}

li.list__item {
  display: grid;
  grid-template-columns: repeat(76, 1fr);
  grid-template-rows: var(--size-medium);
  padding: 2px var(--size-xsmall);
  position: relative;
  z-index: 2;
}

li.list__item--compact {
  grid-template-columns: repeat(36, 1fr);
}

li.list__item[draggable='true'] {
  background-color: var(--figma-color-bg-selected);
  z-index: 1;
}

li.list__item[draggable='true'] .input__field,
li.list__item--emphasis .input__field {
  --white: var(--figma-color-bg-selected);
}

li.list__item[draggable='true']:active {
  cursor: grabbing;
}

li.list__item--dragged:active > div {
  pointer-events: none;
}

li.list__item--emphasis {
  background-color: var(--figma-color-bg-pressed);
}

li.list__item--emphasis .input__field {
  --white: var(--figma-color-bg-pressed);
}

li.list__item--above {
  box-shadow: 0 1px 0 var(--figma-color-border-selected) inset,
    0 -1px 0 var(--figma-color-border-selected);
}

li.list__item--below {
  box-shadow: 0 -1px 0 var(--figma-color-border-selected) inset,
    0 1px 0 var(--figma-color-border-selected);
}

li .list__item__primary {
  grid-column: 1 / 77;
  grid-row: 1 / 1;
  display: flex;
  justify-content: space-between;
}

li .list__item__secondary {
  grid-column: 1 / 77;
  grid-row: 2 / 2;
  display: flex;
  flex-direction: column;
}

li .list__item__left-part,
li .list__item__right-part {
  display: flex;
  max-width: 100%;
}

li .list__item__param {
  white-space: nowrap;
  max-width: 100%;
}

li .list__item__param--compact {
  width: 112px;
  min-width: 112px;
}

li .list__item__buttons--compact {
  grid-column: span 4 / 37;
}

/* Callout */
div.onboarding .label {
  width: auto;
}

div.onboarding__callout {
  display: flex;
  flex-direction: column;
  gap: var(--size-xxxsmall);
}

div.onboarding__callout div.onboarding-tip {
  justify-content: center;
}

div.onboarding__actions {
  display: flex;
  gap: var(--size-xxsmall);
  justify-content: center;
  padding: 0 calc(var(--size-xsmall) + var(--size-xxxsmall));
}

/* Slider */
div.slider {
  display: flex;
  align-items: center;
  position: relative;
  margin-top: var(--size-small);
  padding: 0 var(--size-medium);
}

div.slider .slider__range {
  flex: 1 1 auto;
  height: var(--size-small);
  background: linear-gradient(-90deg, var(--white) 0%, var(--black) 100%);
  border-radius: var(--border-radius-large);
  box-shadow: inset 0 0 0 1px var(--figma-color-border-disabled-strong);
  position: relative;
}

div.slider .slider__knob {
  width: var(--size-medium);
  height: var(--size-xxlarge);
  background: transparent;
  transform: translateX(-50%) translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  cursor: ew-resize;
  z-index: 1;
}

div.slider .slider__label {
  width: 100%;
  height: var(--size-small);
  border-radius: var(--border-radius-small);
  background: var(--figma-color-bg);
  box-shadow: 0 0 0 1px var(--figma-color-border-disabled-strong);
  padding: var(--size-xxxsmall);
  text-align: center;
  position: relative;
  pointer-events: none;
}

div.slider .slider__knob:hover .slider__label {
  background: var(--figma-color-bg-hover);
}

div.slider .slider__knob:focus,
div.slider .slider__knob--selected,
div.slider .slider__knob--editing {
  z-index: 2 !important;
  outline: none;
}

div.slider .slider__knob:focus .slider__tooltip,
div.slider .slider__knob--selected .slider__tooltip {
  display: block !important;
}

div.slider .slider__knob:active .slider__label,
div.slider .slider__knob:focus .slider__label,
div.slider .slider__knob--selected .slider__label {
  box-shadow: 0 0 0 2px var(--figma-color-border-selected);
}

div.slider .slider__knob:active .slider__label:before,
div.slider .slider__knob:focus .slider__label:before,
div.slider .slider__knob--selected .slider__label:before {
  border-top-color: var(--figma-color-border-selected);
  border-width: 6px;
  left: calc(50% - 6px);
  bottom: -12px;
}

div.slider .slider__knob:hover .slider__label:after,
div.slider .slider__knob:active .slider__label:after,
div.slider .slider__knob:hover .slider__label:after,
div.slider .slider__knob--selected .slider__label:after {
  border-top-color: var(--figma-color-bg-hover);
}

div.slider .slider__label:before {
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: var(--size-xxxsmall);
  border-top-color: var(--figma-color-border-disabled-strong);
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
  position: absolute;
  bottom: calc(var(--size-xxxsmall) * -2);
  left: calc(50% - var(--size-xxxsmall));
}

div.slider .slider__label:after {
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 3px;
  border-top-color: var(--figma-color-bg);
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
  position: absolute;
  bottom: -6px;
  left: calc(50% - 3px);
}

div.slider .slider__tooltip {
  width: var(--size-medium);
  padding: var(--size-xxxsmall);
  background: var(--figma-color-bg-inverse);
  color: var(--figma-color-text-oninverse);
  position: absolute;
  transform: translateX(-50%) translateY(-100%);
  left: 50%;
  top: calc(var(--size-xsmall) * -1);
  text-align: center;
  user-select: none;
  display: none;
}

div.slider .slider__knob:hover .slider__tooltip {
  display: block !important;
}

div.slider .slider__tooltip:after {
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: var(--size-xxxsmall);
  border-top-color: var(--figma-color-bg-inverse);
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
  position: absolute;
  bottom: -8px;
  left: calc(50% - var(--size-xxxsmall));
}

div.slider .slider__graduation {
  width: 1px;
  height: var(--size-xxxsmall);
  background: var(--figma-color-border-disabled-strong);
  pointer-events: none;
}

div.slider .slider__input {
  position: absolute;
  transform: translateX(-50%) translateY(-100%);
  left: 50%;
  top: calc(var(--size-xxsmall) * -1);
  padding: 1px 2px;
  z-index: 2;
  width: var(--size-xlarge);
  box-shadow: var(--shadow-floating-window);
  border: 1px solid var(--figma-color-border);
  border-radius: var(--border-radius-med);
  background-color: var(--figma-color-bg);
}

/* Color */
.color {
  padding: 0 0 0 var(--size-xxsmall);
}

.color__icon {
  flex: 0 0 var(--size-xsmall);
  width: var(--size-xsmall);
  height: var(--size-xsmall);
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 0 0 1px inset;
}

.color__icon--circle {
  border-radius: var(--size-xxsmall);
}
