/* Layout */
html,
body {
  overflow: hidden;
}

input {
  cursor: default;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  display: block;
}

div#react-page {
  height: 100%;
  user-select: none;
}

div#react-page.dragged-ghost {
  cursor: grabbing;
}

main {
  height: inherit;
  display: flex;
  flex-direction: column;
}

section.controller {
  flex: 1;
  display: flex;
  flex-direction: column;
}

div.controls {
  display: flex;
  flex-direction: column;
  flex: 1;
}

div.controls__control {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--size-xxsmall) 0;
}

div.lightness-scale {
  justify-content: space-between;
}

div.actions {
  width: 100%;
  height: var(--size-xxlarge);
  padding: var(--size-xsmall);
  border-top: 1px solid var(--figma-color-border);
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  gap: var(--size-xxsmall);
}

div.actions__right {
  display: flex;
  gap: var(--size-xxsmall);
}

div.actions__left {
  display: flex;
  align-items: center;
  gap: var(--size-xxsmall);
}

div.actions__left > .select-menu {
  width: 200px;
}

div.shortcuts {
  width: 100%;
  height: var(--size-large);
  display: flex;
  justify-content: space-between;
  padding: 0 var(--size-xsmall);
  border-top: 1px solid var(--figma-color-border);
}

div.shortcuts__get-pro {
  display: flex;
  align-items: center;
}

div.shortcuts__links {
  display: flex;
  align-items: center;
  gap: var(--size-xxxsmall);
  color: var(--figma-color-text);
}

/* Controls */
div.section-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--size-xsmall);
  height: var(--size-medium);
}

div.section-controls__left-part {
  display: flex;
  align-items: baseline;
  flex: 1;
}
div.section-controls__right-part {
  display: flex;
}

div.section-controls .section-title,
div.section-controls .label {
  width: auto;
}

div.section-controls .select-menu {
  flex: 1;
}

/* Colors */
li .colors__name {
  grid-column: 1 / span 16;
  grid-row: 1 / 1;
}

li .colors__parameters {
  grid-column: 17 / span 33;
  grid-row: 1 / 1;
  display: flex;
  gap: var(--size-xsmall);
}

li .colors__parameters > .input {
  width: 88px;
}

li .colors__buttons {
  grid-column: span 8 / 77;
  grid-row: 1 / 1;
  display: flex;
  justify-content: flex-end;
}

li .colors__shift {
  grid-column: 1 / span 16;
  grid-row: 2 / 2;
}

li .colors__description {
  grid-column: 17 / span 33;
  grid-row: 2 / 2;
}

li .colors__shift > .input {
  width: 88px;
}

/* Export */
div.export-palette {
  flex-direction: row;
  flex: 1 0 176px;
  overflow: hidden;
}

div.export-palette > div {
  display: flex;
  flex-direction: column;
}

div.export-palette > div:first-child {
  flex: 2;
}

div.export-palette > div:last-child {
  flex: 3;
}

div.export-palette__options {
  padding: 0 var(--size-xsmall);
  flex: 1;
  overflow-y: auto;
}

div.export-palette__options textarea {
  height: 100%;
  margin: 0;
}

ul.options li {
  display: block;
}

/* Settings */
div.settings {
  flex: 1 0 176px;
  overflow-y: auto;
  padding: 0;
}

div.settings__group {
  padding: var(--size-xxsmall) 0;
}

div.settings__group + div.settings__group {
  border-top: 1px solid var(--figma-color-border);
}

div.settings__item {
  padding: 0 var(--size-xsmall);
}

div.settings__item + div.settings__item {
  margin-top: 2px;
}

/* About */
div.about {
  flex-direction: row;
  align-items: baseline;
  padding: var(--size-xsmall) var(--size-small);
}

div.about > div {
  display: flex;
  flex-direction: column;
  gap: var(--size-xsmall);
  flex: 1;
}

div.about p {
  margin: 0;
}

div.about__info {
  display: flex;
  align-items: center;
  color: var(--figma-color-text);
}

div.about__links {
  display: flex;
  align-items: center;
  color: var(--figma-color-text);
}