/* Text */
.onboarding-tip__msg,
.type,
.section-title,
.checkbox__label,
.switch__label,
.radio__label,
.select-menu__label {
  color: var(--figma-color-text);
}

.onboarding-tip__msg {
  line-height: var(--font-line-height);
}

.label {
  color: var(--figma-color-text-tertiary);
}

.type a {
  color: var(--figma-color-text-brand);
  text-decoration: none;
}

.type a:focus-visible {
  outline: none;
  text-decoration: underline;
}

/* Icon */
.icon {
  background: var(--figma-color-icon);
  mask-position: center;
  -webkit-mask-position: center;
}

.icon--list-tile {
  mask-image: url('data:image/svg+xml;charset=utf8,%3Csvg fill=%27none%27 height=%2732%27 width=%2732%27 xmlns=%27http://www.w3.org/2000/svg%27%3E%3Cpath clip-rule=%27evenodd%27 d=%27M14 11h-3v3h3zm-4-1v5h5v-5zm11 1h-3v3h3zm-4-1v5h5v-5zm-3 8h-3v3h3zm-4-1v5h5v-5zm11 1h-3v3h3zm-4-1v5h5v-5z%27 fill=%27%23000%27 fill-rule=%27evenodd%27/%3E%3C/svg%3E');
  -webkit-mask-image: url('data:image/svg+xml;charset=utf8,%3Csvg fill=%27none%27 height=%2732%27 width=%2732%27 xmlns=%27http://www.w3.org/2000/svg%27%3E%3Cpath clip-rule=%27evenodd%27 d=%27M14 11h-3v3h3zm-4-1v5h5v-5zm11 1h-3v3h3zm-4-1v5h5v-5zm-3 8h-3v3h3zm-4-1v5h5v-5zm11 1h-3v3h3zm-4-1v5h5v-5z%27 fill=%27%23000%27 fill-rule=%27evenodd%27/%3E%3C/svg%3E');
}

.icon--theme {
  mask-image: url('data:image/svg+xml;charset=utf8,%3Csvg fill=%27none%27 height=%2732%27 width=%2732%27 xmlns=%27http://www.w3.org/2000/svg%27%3E%3Cg fill=%27%23000%27%3E%3Cpath clip-rule=%27evenodd%27 d=%27M13 10h-3v12h3zm-3-1a1 1 0 00-1 1v12a1 1 0 001 1h3a1 1 0 001-1V10a1 1 0 00-1-1z%27 fill-rule=%27evenodd%27/%3E%3Cpath d=%27M10.75 20.5a.75.75 0 111.5 0 .75.75 0 01-1.5 0zM22 18a1 1 0 011 1v3a1 1 0 01-1 1h-7v-1h7v-3h-7v-1zM18.385 17l2.757-2.757a1 1 0 000-1.415l-2.121-2.12a1 1 0 00-1.414 0L15 13.313v1.414l3.314-3.314 2.121 2.122L16.971 17z%27/%3E%3C/g%3E%3C/svg%3E');
  -webkit-mask-image: url('data:image/svg+xml;charset=utf8,%3Csvg fill=%27none%27 height=%2732%27 width=%2732%27 xmlns=%27http://www.w3.org/2000/svg%27%3E%3Cg fill=%27%23000%27%3E%3Cpath clip-rule=%27evenodd%27 d=%27M13 10h-3v12h3zm-3-1a1 1 0 00-1 1v12a1 1 0 001 1h3a1 1 0 001-1V10a1 1 0 00-1-1z%27 fill-rule=%27evenodd%27/%3E%3Cpath d=%27M10.75 20.5a.75.75 0 111.5 0 .75.75 0 01-1.5 0zM22 18a1 1 0 011 1v3a1 1 0 01-1 1h-7v-1h7v-3h-7v-1zM18.385 17l2.757-2.757a1 1 0 000-1.415l-2.121-2.12a1 1 0 00-1.414 0L15 13.313v1.414l3.314-3.314 2.121 2.122L16.971 17z%27/%3E%3C/g%3E%3C/svg%3E');
}

.icon--library {
  mask-image: url('data:image/svg+xml;charset=utf8,%3Csvg fill=%27none%27 height=%2732%27 width=%2732%27 xmlns=%27http://www.w3.org/2000/svg%27%3E%3Cpath clip-rule=%27evenodd%27 d=%27M15.373 22h1.258c.28-.32.616-.597.995-.819 1.478-.862 4.005-.909 5.386.109H24.5v-9.2s-.797-2.25-4.42-2.25c-1.875 0-2.902.602-3.456 1.184a2.568 2.568 0 00-.6.976h-.048a2.569 2.569 0 00-.6-.976c-.554-.582-1.581-1.184-3.456-1.184-3.623 0-4.42 2.25-4.42 2.25v9.19h1.488c1.382-1.019 3.91-.97 5.388-.105.38.223.717.503.997.825zm1.127-9.711v8.457c.195-.157.403-.3.622-.428.927-.541 2.115-.796 3.241-.787 1.006.008 2.081.227 2.952.759h.185v-7.973a2.414 2.414 0 00-.505-.595c-.46-.397-1.33-.882-2.915-.882-1.586 0-2.34.483-2.695.835a1.749 1.749 0 00-.353.49 1.076 1.076 0 00-.052.131l-.005.017.001-.006.002-.008v-.005l.001-.002v-.002l-.005-.001zm-1 0h-.474l-.006.001v.002l.001.002.001.005.002.008.001.006-.005-.017a1.076 1.076 0 00-.053-.131 1.749 1.749 0 00-.353-.49c-.354-.351-1.108-.835-2.694-.835-1.585 0-2.455.485-2.916.882a2.411 2.411 0 00-.504.595v7.963h.185c.872-.532 1.948-.752 2.954-.759 1.128-.008 2.316.249 3.243.792.217.127.424.27.618.426z%27 fill=%27%23000%27 fill-rule=%27evenodd%27/%3E%3C/svg%3E');
  -webkit-mask-image: url('data:image/svg+xml;charset=utf8,%3Csvg fill=%27none%27 height=%2732%27 width=%2732%27 xmlns=%27http://www.w3.org/2000/svg%27%3E%3Cpath clip-rule=%27evenodd%27 d=%27M15.373 22h1.258c.28-.32.616-.597.995-.819 1.478-.862 4.005-.909 5.386.109H24.5v-9.2s-.797-2.25-4.42-2.25c-1.875 0-2.902.602-3.456 1.184a2.568 2.568 0 00-.6.976h-.048a2.569 2.569 0 00-.6-.976c-.554-.582-1.581-1.184-3.456-1.184-3.623 0-4.42 2.25-4.42 2.25v9.19h1.488c1.382-1.019 3.91-.97 5.388-.105.38.223.717.503.997.825zm1.127-9.711v8.457c.195-.157.403-.3.622-.428.927-.541 2.115-.796 3.241-.787 1.006.008 2.081.227 2.952.759h.185v-7.973a2.414 2.414 0 00-.505-.595c-.46-.397-1.33-.882-2.915-.882-1.586 0-2.34.483-2.695.835a1.749 1.749 0 00-.353.49 1.076 1.076 0 00-.052.131l-.005.017.001-.006.002-.008v-.005l.001-.002v-.002l-.005-.001zm-1 0h-.474l-.006.001v.002l.001.002.001.005.002.008.001.006-.005-.017a1.076 1.076 0 00-.053-.131 1.749 1.749 0 00-.353-.49c-.354-.351-1.108-.835-2.694-.835-1.585 0-2.455.485-2.916.882a2.411 2.411 0 00-.504.595v7.963h.185c.872-.532 1.948-.752 2.954-.759 1.128-.008 2.316.249 3.243.792.217.127.424.27.618.426z%27 fill=%27%23000%27 fill-rule=%27evenodd%27/%3E%3C/svg%3E');
}

.icon--plus {
  mask-image: url('data:image/svg+xml;charset=utf8,%3Csvg fill=%27none%27 height=%2732%27 width=%2732%27 xmlns=%27http://www.w3.org/2000/svg%27%3E%3Cpath d=%27M15.5 15.5v-5h1v5h5v1h-5v5h-1v-5h-5v-1z%27 fill=%27%23000%27/%3E%3C/svg%3E');
  -webkit-mask-image: url('data:image/svg+xml;charset=utf8,%3Csvg fill=%27none%27 height=%2732%27 width=%2732%27 xmlns=%27http://www.w3.org/2000/svg%27%3E%3Cpath d=%27M15.5 15.5v-5h1v5h5v1h-5v5h-1v-5h-5v-1z%27 fill=%27%23000%27/%3E%3C/svg%3E');
}

.icon--minus {
  mask-image: url('data:image/svg+xml;charset=utf8,%3Csvg fill=%27none%27 height=%2732%27 width=%2732%27 xmlns=%27http://www.w3.org/2000/svg%27%3E%3Cpath d=%27M21.5 16.5h-11v-1h11z%27 fill=%27%23000%27/%3E%3C/svg%3E');
  -webkit-mask-image: url('data:image/svg+xml;charset=utf8,%3Csvg fill=%27none%27 height=%2732%27 width=%2732%27 xmlns=%27http://www.w3.org/2000/svg%27%3E%3Cpath d=%27M21.5 16.5h-11v-1h11z%27 fill=%27%23000%27/%3E%3C/svg%3E');
}

.icon--adjust {
  mask-image: url('data:image/svg+xml;charset=utf8,%3Csvg fill=%27none%27 height=%2732%27 width=%2732%27 xmlns=%27http://www.w3.org/2000/svg%27%3E%3Cg clip-rule=%27evenodd%27 fill=%27%23000%27 fill-rule=%27evenodd%27%3E%3Cpath d=%27M12 16.05V9h1v7.05a2.5 2.5 0 010 4.9V23h-1v-2.05a2.5 2.5 0 010-4.9zm2 2.45a1.5 1.5 0 11-3 0 1.5 1.5 0 013 0zM19 23h1v-7.05a2.5 2.5 0 000-4.9V9h-1v2.05a2.5 2.5 0 000 4.9zm2-9.5a1.5 1.5 0 10-3 0 1.5 1.5 0 003 0z%27/%3E%3C/g%3E%3C/svg%3E');
  -webkit-mask-image: url('data:image/svg+xml;charset=utf8,%3Csvg fill=%27none%27 height=%2732%27 width=%2732%27 xmlns=%27http://www.w3.org/2000/svg%27%3E%3Cg clip-rule=%27evenodd%27 fill=%27%23000%27 fill-rule=%27evenodd%27%3E%3Cpath d=%27M12 16.05V9h1v7.05a2.5 2.5 0 010 4.9V23h-1v-2.05a2.5 2.5 0 010-4.9zm2 2.45a1.5 1.5 0 11-3 0 1.5 1.5 0 013 0zM19 23h1v-7.05a2.5 2.5 0 000-4.9V9h-1v2.05a2.5 2.5 0 000 4.9zm2-9.5a1.5 1.5 0 10-3 0 1.5 1.5 0 003 0z%27/%3E%3C/g%3E%3C/svg%3E');
}

.icon--arrow-left-right {
  mask-image: url('data:image/svg+xml;charset=utf8,%3Csvg fill=%27none%27 height=%2732%27 width=%2732%27 xmlns=%27http://www.w3.org/2000/svg%27%3E%3Cpath d=%27M12.207 16.5l1.647 1.646-.707.708L10.293 16l2.854-2.854.707.708-1.647 1.646h7.586l-1.646-1.646.707-.708L21.707 16l-2.853 2.854-.707-.708 1.646-1.646z%27 fill=%27%23000%27/%3E%3C/svg%3E');
  -webkit-mask-image: url('data:image/svg+xml;charset=utf8,%3Csvg fill=%27none%27 height=%2732%27 width=%2732%27 xmlns=%27http://www.w3.org/2000/svg%27%3E%3Cpath d=%27M12.207 16.5l1.647 1.646-.707.708L10.293 16l2.854-2.854.707.708-1.647 1.646h7.586l-1.646-1.646.707-.708L21.707 16l-2.853 2.854-.707-.708 1.646-1.646z%27 fill=%27%23000%27/%3E%3C/svg%3E');
}

.icon--close {
  mask-image: url('data:image/svg+xml;charset=utf8,%3Csvg fill=%27none%27 height=%2732%27 width=%2732%27 xmlns=%27http://www.w3.org/2000/svg%27%3E%3Cpath d=%27m16 15.293 4.6465-4.6464.7071.7071-4.6465 4.6464 4.6465 4.6465-.7071.7071-4.6465-4.6464-4.6464 4.6464-.7071-.7071 4.6464-4.6465-4.6464-4.6463.7071-.7071z%27 fill=%27%23000%27/%3E%3C/svg%3E');
  -webkit-mask-image: url('data:image/svg+xml;charset=utf8,%3Csvg fill=%27none%27 height=%2732%27 width=%2732%27 xmlns=%27http://www.w3.org/2000/svg%27%3E%3Cpath d=%27m16 15.293 4.6465-4.6464.7071.7071-4.6465 4.6464 4.6465 4.6465-.7071.7071-4.6465-4.6464-4.6464 4.6464-.7071-.7071 4.6464-4.6465-4.6464-4.6463.7071-.7071z%27 fill=%27%23000%27/%3E%3C/svg%3E');
}

.icon--lock-off {
  mask-image: url('data:image/svg+xml;charset=utf8,%3Csvg fill=%27none%27 height=%2732%27 width=%2732%27 xmlns=%27http://www.w3.org/2000/svg%27%3E%3Cpath d=%27m18 15h.5c.2761 0 .5.2239.5.5v5c0 .2761-.2239.5-.5.5h-6c-.2761 0-.5-.2239-.5-.5v-5c0-.2761.2239-.5.5-.5h4.5v-2.5c0-1.3807 1.1193-2.5 2.5-2.5s2.5 1.1193 2.5 2.5v1.5h-1v-1.5c0-.8284-.6716-1.5-1.5-1.5s-1.5.6716-1.5 1.5z%27 fill=%27%23000%27/%3E%3C/svg%3E');
  -webkit-mask-image: url('data:image/svg+xml;charset=utf8,%3Csvg fill=%27none%27 height=%2732%27 width=%2732%27 xmlns=%27http://www.w3.org/2000/svg%27%3E%3Cpath d=%27m18 15h.5c.2761 0 .5.2239.5.5v5c0 .2761-.2239.5-.5.5h-6c-.2761 0-.5-.2239-.5-.5v-5c0-.2761.2239-.5.5-.5h4.5v-2.5c0-1.3807 1.1193-2.5 2.5-2.5s2.5 1.1193 2.5 2.5v1.5h-1v-1.5c0-.8284-.6716-1.5-1.5-1.5s-1.5.6716-1.5 1.5z%27 fill=%27%23000%27/%3E%3C/svg%3E');
}

/* Checkbox */
.checkbox__label:before {
  --black8: var(--figma-color-border-strong);
}

.checkbox__box:checked + .checkbox__label:before {
  --blue: var(--figma-color-bg-brand);
}

/* Switch */
.switch__label:before {
  --white: var(--figma-color-bg-disabled-secondary);
}

.switch__label:before,
.switch__label:after {
  --black8-opaque: var(--figma-color-bg-disabled-secondary);
}

.switch__toggle:checked + .switch__label:before {
  --white: var(--figma-color-bg-brand);
}

.switch__toggle:checked + .switch__label:before,
.switch__toggle:checked + .switch__label:after {
  --black8-opaque: var(--figma-color-bg-brand);
}

.switch--blocked {
  pointer-events: none;
}

.switch--blocked .switch__label {
  color: var(--figma-color-text-disabled);
}

.switch--blocked .switch__label:before {
  --white: var(--figma-color-bg-disabled);
}

.switch--blocked .switch__label:after {
  --white: var(--figma-color-bg-disabled-secondary);
}

.switch--blocked .switch__label:before,
.switch--blocked .switch__label:after {
  --black8-opaque: var(--figma-color-bg-disabled);
}

.switch--blocked .switch__toggle:checked + .switch__label:before {
  --white: var(--figma-color-icon-brand-secondary);
}

.switch--blocked .switch__toggle:checked + .switch__label:after {
  --white: var(--figma-color-icon-onbrand-secondary);
}

.switch--blocked .switch__toggle:checked + .switch__label:before,
.switch--blocked .switch__toggle:checked + .switch__label:after {
  --black8-opaque: var(--figma-color-icon-brand-secondary);
}

/* Radio */
.radio__label:before {
  --black8: var(--figma-color-border-strong);
}

.radio__button:checked + .radio__label:before {
  background-image: none;
}

.radio__button:checked + .radio__label:after {
  content: '';
  width: 6px;
  height: 6px;
  background-color: var(--figma-color-icon);
  position: absolute;
  left: 13px;
  border-radius: 50%;
  top: 14px;
}

.radio--blocked {
  pointer-events: none;
}

.radio--blocked .radio__label {
  color: var(--figma-color-text-disabled);
}

.radio--blocked .radio__label:before {
  --black8: var(--figma-color-border-disabled);
}

.radio--blocked .radio__button:checked + .radio__label:after {
  background-color: var(--figma-color-icon-disabled);
}

/* Button */
.button--primary {
  --blue: var(--figma-color-bg-brand);
  --white: var(--figma-color-text-onbrand);
}

.button--primary:enabled:hover {
  background-color: var(--figma-color-bg-brand-hover);
}

.button--primary:enabled:active {
  --blue: var(--figma-color-bg-brand-pressed);
  --black3: var(--figma-color-bg-brand-pressed);
}

.button--primary:enabled:focus {
  --blue: var(--figma-color-bg-brand-pressed);
  --black3: var(--figma-color-border-brand-strong);
}

.button--secondary {
  --white: var(--figma-color-bg);
  --black8: var(--figma-color-text);
}

.button--secondary:hover {
  --white: var(--figma-color-bg-hover);
}

.button--secondary:enabled:focus {
  --blue: var(--figma-color-border-selected);
}

.button--secondary:enabled:active {
  --white: var(--figma-color-bg-hover);
  --blue: var(--figma-color-border-selected);
}

.button--tertiary,
.button--tertiary a {
  color: var(--figma-color-text-brand);
  text-decoration: none;
}

.button--tertiary a:focus-visible {
  outline: none;
  text-decoration: underline;
}

.icon-button {
  background-clip: padding-box !important;
  border-radius: 3px;
  border: 1px solid transparent;
}

.icon-button * {
  filter: none;
}

.icon-button:hover {
  background: transparent;
  background-color: var(--figma-color-bg-hover);
}

.icon-button:focus {
  border: 2px solid var(--figma-color-border-selected);
}

.icon-button:active {
  border: 1px solid transparent;
}

.icon-button--selected {
  --blue: var(--figma-color-bg-brand);
}

.icon-button--selected .icon {
  background: var(--figma-color-icon-onbrand);
}

.icon-button--selected:hover {
  background-color: var(--figma-color-bg-brand);
}

div.icon-button--disabled {
  opacity: 1;
}

.icon-button--disabled .icon {
  background: var(--figma-color-icon-disabled);
}

/* Select menu */
.select-menu__button {
  --white: var(--figma-color-bg);
  padding: 0 0 0 var(--size-xxsmall);
}

.select-menu__button:hover {
  --black1: var(--figma-color-border);
}

.select-menu__button:focus {
  --blue: var(--figma-color-border-selected);
}

.select-menu__caret {
  mask-image: url(data:image/svg+xml;utf8,%3Csvg%20fill%3D%22none%22%20height%3D%2230%22%20viewBox%3D%220%200%2030%2030%22%20width%3D%2230%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20clip-rule%3D%22evenodd%22%20d%3D%22m15%2016.7071-3-3%20.7071-.7071%202.6465%202.6464%202.6464-2.6464.7071.7071-3%203-.3535.3536z%22%20fill%3D%22%23000%22%20fill-rule%3D%22evenodd%22%2F%3E%3C%2Fsvg%3E);
  -webkit-mask-image: url(data:image/svg+xml;utf8,%3Csvg%20fill%3D%22none%22%20height%3D%2230%22%20viewBox%3D%220%200%2030%2030%22%20width%3D%2230%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20clip-rule%3D%22evenodd%22%20d%3D%22m15%2016.7071-3-3%20.7071-.7071%202.6465%202.6464%202.6464-2.6464.7071.7071-3%203-.3535.3536z%22%20fill%3D%22%23000%22%20fill-rule%3D%22evenodd%22%2F%3E%3C%2Fsvg%3E);
  background: var(--figma-color-icon-disabled);
  opacity: 1;
}

.select-menu__button:hover .select-menu__caret,
.select-menu__button:focus .select-menu__caret {
  background: var(--figma-color-icon);
}

.select-menu__menu {
  outline: 1px solid rgba(255, 255, 255, 0.1);
  outline-offset: -1px;
}

.select-menu--highlight,
.select-menu__item:hover,
.select-menu__item:focus {
  --blue: var(--figma-color-bg-brand);
}

/* Input */
.input__field {
  --black8: var(--figma-color-text);
  --white: var(--figma-color-bg);
}

.input__field:hover,
.input__field:placeholder-shown:hover {
  --black8: var(--figma-color-text);
  --black1: var(--figma-color-border);
}

.input__field:active,
.input__field:focus {
  --blue: var(--figma-color-border-selected);
  --black: var(--figma-color-text);
}

.input__field:placeholder-shown {
  --black1: var(--figma-color-border);
}

.input__field::placeholder {
  color: var(--figma-color-text-secondary);
}

.input__color:hover ~ .input__field {
  --black8: var(--figma-color-text);
  --black1: var(--figma-color-border);
  color: var(--black8);
  border: 1px solid var(--black1);
  background-image: none;
}

.input--blocked .input__field {
  --black1: var(--figma-color-border-disabled);
  --black8: var(--figma-color-text-disabled);
}

.input--blocked .input__field::placeholder {
  color: var(--figma-color-text-secondary-disabled);
}

.input--blocked .input__field:placeholder-shown {
  --black1: transparent;
}

.input--blocked input[type='color' i] {
  opacity: 0.25;
}

/* Text area */
.textarea {
  --black8: var(--figma-color-text);
  --white: var(--figma-color-bg);
  --black1: var(--figma-color-border);
}

.textarea:active,
.textarea:focus {
  --black: var(--figma-color-text);
  --blue: var(--figma-color-border-selected);
}

/* On boarding callout */
.onboarding-tip__slider {
  flex: 1;
  display: flex;
  position: relative;
  overflow: hidden;
}

.onboarding-tip__slider:before,
.onboarding-tip__slider:after {
  content: '';
  position: absolute;
  width: var(--size-xsmall);
  height: 100%;
  z-index: 2;
}

.onboarding-tip__slider:before {
  left: 0;
  background: linear-gradient(
    90deg,
    var(--figma-color-bg) 0%,
    transparent 100%
  );
}

.onboarding-tip__slider:after {
  right: 0;
  background: linear-gradient(
    90deg,
    transparent 0%,
    var(--figma-color-bg) 100%
  );
}

.onboarding-tip__slides {
  display: inline-flex;
  align-items: center;
  gap: 0 var(--size-medium);
  padding: 0 var(--size-xsmall);
  position: relative;
  width: max-content;
}

.callout .onboarding-tip__msg {
  white-space: nowrap;
}

@keyframes sliding-text {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-100%);
  }
}

/* Blocked state */
.radio--blocked:after,
.form-item--blocked:after,
.switch--blocked:after {
  content: 'Pro';
  height: var(--size-xsmall);
  padding: 0 5px;
  font-size: var(--font-size-xsmall);
  letter-spacing: var(--font-letter-spacing-neg-xsmall);
  line-height: var(--font-line-height);
  font-weight: 600;
  color: var(--figma-color-text-brand);
  background-color: var(--figma-color-bg-selected-secondary);
  border-radius: var(--border-radius-small);
}
