/* Text */
.onboarding-tip__msg,
.type,
.section-title,
.checkbox__label,
.select-menu__label {
  color: var(--figma-color-text)
}

/* Icon */
.icon {
  background: var(--figma-color-icon)
}

.icon--list-tile {
  -webkit-mask-image: url(data:image/svg+xml;charset=utf8,%3Csvg fill=%27none%27 height=%2732%27 width=%2732%27 xmlns=%27http://www.w3.org/2000/svg%27%3E%3Cpath clip-rule=%27evenodd%27 d=%27M14 11h-3v3h3zm-4-1v5h5v-5zm11 1h-3v3h3zm-4-1v5h5v-5zm-3 8h-3v3h3zm-4-1v5h5v-5zm11 1h-3v3h3zm-4-1v5h5v-5z%27 fill=%27%23000%27 fill-rule=%27evenodd%27/%3E%3C/svg%3E);
  mask-image: url(data:image/svg+xml;charset=utf8,%3Csvg fill=%27none%27 height=%2732%27 width=%2732%27 xmlns=%27http://www.w3.org/2000/svg%27%3E%3Cpath clip-rule=%27evenodd%27 d=%27M14 11h-3v3h3zm-4-1v5h5v-5zm11 1h-3v3h3zm-4-1v5h5v-5zm-3 8h-3v3h3zm-4-1v5h5v-5zm11 1h-3v3h3zm-4-1v5h5v-5z%27 fill=%27%23000%27 fill-rule=%27evenodd%27/%3E%3C/svg%3E)
}

.icon--theme {
  -webkit-mask-image: url(data:image/svg+xml;charset=utf8,%3Csvg fill=%27none%27 height=%2732%27 width=%2732%27 xmlns=%27http://www.w3.org/2000/svg%27%3E%3Cg fill=%27%23000%27%3E%3Cpath clip-rule=%27evenodd%27 d=%27M13 10h-3v12h3zm-3-1a1 1 0 00-1 1v12a1 1 0 001 1h3a1 1 0 001-1V10a1 1 0 00-1-1z%27 fill-rule=%27evenodd%27/%3E%3Cpath d=%27M10.75 20.5a.75.75 0 111.5 0 .75.75 0 01-1.5 0zM22 18a1 1 0 011 1v3a1 1 0 01-1 1h-7v-1h7v-3h-7v-1zM18.385 17l2.757-2.757a1 1 0 000-1.415l-2.121-2.12a1 1 0 00-1.414 0L15 13.313v1.414l3.314-3.314 2.121 2.122L16.971 17z%27/%3E%3C/g%3E%3C/svg%3E);
  mask-image: url(data:image/svg+xml;charset=utf8,%3Csvg fill=%27none%27 height=%2732%27 width=%2732%27 xmlns=%27http://www.w3.org/2000/svg%27%3E%3Cg fill=%27%23000%27%3E%3Cpath clip-rule=%27evenodd%27 d=%27M13 10h-3v12h3zm-3-1a1 1 0 00-1 1v12a1 1 0 001 1h3a1 1 0 001-1V10a1 1 0 00-1-1z%27 fill-rule=%27evenodd%27/%3E%3Cpath d=%27M10.75 20.5a.75.75 0 111.5 0 .75.75 0 01-1.5 0zM22 18a1 1 0 011 1v3a1 1 0 01-1 1h-7v-1h7v-3h-7v-1zM18.385 17l2.757-2.757a1 1 0 000-1.415l-2.121-2.12a1 1 0 00-1.414 0L15 13.313v1.414l3.314-3.314 2.121 2.122L16.971 17z%27/%3E%3C/g%3E%3C/svg%3E)
}

/* Checkbox */
.checkbox__label:before {
  border: 1px solid var(--figma-color-border-onbrand-strong)
}

.checkbox__box:checked + .checkbox__label:before {
  background-color: var(--figma-color-bg-brand)
}

/* Button */
.button--primary {
  background-color: var(--figma-color-bg-brand);
  color: var(--figma-color-text-onbrand)
}

/* Select menu */
.select-menu__button {
  background-color: var(--figma-color-bg);
  padding: 0 0 0 var(--size-xxsmall)
}

.select-menu__button:hover {
  border-color: var(--figma-color-border)
}

.select-menu__button:focus {
  border: 1px solid var(--figma-color-border-selected);
  outline: 1px solid var(--figma-color-border-selected)
}

.select-menu__caret {
  mask-image: url(data:image/svg+xml;utf8,%3Csvg%20fill%3D%22none%22%20height%3D%2230%22%20viewBox%3D%220%200%2030%2030%22%20width%3D%2230%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20clip-rule%3D%22evenodd%22%20d%3D%22m15%2016.7071-3-3%20.7071-.7071%202.6465%202.6464%202.6464-2.6464.7071.7071-3%203-.3535.3536z%22%20fill%3D%22%23000%22%20fill-rule%3D%22evenodd%22%2F%3E%3C%2Fsvg%3E);
  -webkit-mask-image: url(data:image/svg+xml;utf8,%3Csvg%20fill%3D%22none%22%20height%3D%2230%22%20viewBox%3D%220%200%2030%2030%22%20width%3D%2230%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20clip-rule%3D%22evenodd%22%20d%3D%22m15%2016.7071-3-3%20.7071-.7071%202.6465%202.6464%202.6464-2.6464.7071.7071-3%203-.3535.3536z%22%20fill%3D%22%23000%22%20fill-rule%3D%22evenodd%22%2F%3E%3C%2Fsvg%3E);
  background: var(--figma-color-icon-disabled);
  opacity: 1
}

.select-menu__button:hover .select-menu__caret,
.select-menu__button:focus .select-menu__caret {
  background: var(--figma-color-icon)
}

.select-menu__menu {
  outline: 1px solid rgba(255, 255, 255, .1);
  outline-offset: -1px
}

.select-menu--highlight,
.select-menu__item:hover,
.select-menu__item:focus {
    background-color: var(--figma-color-bg-brand)
}
