/* Text */
.onboarding-tip__msg,
.type,
.section-title,
.checkbox__label,
.switch__label,
.select-menu__label {
  color: var(--figma-color-text)
}

.label {
  color: var(--figma-color-text-tertiary)
}

.type a {
  color: var(--figma-color-text-brand);
  text-decoration: none
}

/* Icon */
.icon {
  background: var(--figma-color-icon);
  mask-position: center;
  -webkit-mask-position: center
}

.icon--list-tile {
  -webkit-mask-image: url(data:image/svg+xml;charset=utf8,%3Csvg fill=%27none%27 height=%2732%27 width=%2732%27 xmlns=%27http://www.w3.org/2000/svg%27%3E%3Cpath clip-rule=%27evenodd%27 d=%27M14 11h-3v3h3zm-4-1v5h5v-5zm11 1h-3v3h3zm-4-1v5h5v-5zm-3 8h-3v3h3zm-4-1v5h5v-5zm11 1h-3v3h3zm-4-1v5h5v-5z%27 fill=%27%23000%27 fill-rule=%27evenodd%27/%3E%3C/svg%3E);
  mask-image: url(data:image/svg+xml;charset=utf8,%3Csvg fill=%27none%27 height=%2732%27 width=%2732%27 xmlns=%27http://www.w3.org/2000/svg%27%3E%3Cpath clip-rule=%27evenodd%27 d=%27M14 11h-3v3h3zm-4-1v5h5v-5zm11 1h-3v3h3zm-4-1v5h5v-5zm-3 8h-3v3h3zm-4-1v5h5v-5zm11 1h-3v3h3zm-4-1v5h5v-5z%27 fill=%27%23000%27 fill-rule=%27evenodd%27/%3E%3C/svg%3E)
}

.icon--theme {
  -webkit-mask-image: url(data:image/svg+xml;charset=utf8,%3Csvg fill=%27none%27 height=%2732%27 width=%2732%27 xmlns=%27http://www.w3.org/2000/svg%27%3E%3Cg fill=%27%23000%27%3E%3Cpath clip-rule=%27evenodd%27 d=%27M13 10h-3v12h3zm-3-1a1 1 0 00-1 1v12a1 1 0 001 1h3a1 1 0 001-1V10a1 1 0 00-1-1z%27 fill-rule=%27evenodd%27/%3E%3Cpath d=%27M10.75 20.5a.75.75 0 111.5 0 .75.75 0 01-1.5 0zM22 18a1 1 0 011 1v3a1 1 0 01-1 1h-7v-1h7v-3h-7v-1zM18.385 17l2.757-2.757a1 1 0 000-1.415l-2.121-2.12a1 1 0 00-1.414 0L15 13.313v1.414l3.314-3.314 2.121 2.122L16.971 17z%27/%3E%3C/g%3E%3C/svg%3E);
  mask-image: url(data:image/svg+xml;charset=utf8,%3Csvg fill=%27none%27 height=%2732%27 width=%2732%27 xmlns=%27http://www.w3.org/2000/svg%27%3E%3Cg fill=%27%23000%27%3E%3Cpath clip-rule=%27evenodd%27 d=%27M13 10h-3v12h3zm-3-1a1 1 0 00-1 1v12a1 1 0 001 1h3a1 1 0 001-1V10a1 1 0 00-1-1z%27 fill-rule=%27evenodd%27/%3E%3Cpath d=%27M10.75 20.5a.75.75 0 111.5 0 .75.75 0 01-1.5 0zM22 18a1 1 0 011 1v3a1 1 0 01-1 1h-7v-1h7v-3h-7v-1zM18.385 17l2.757-2.757a1 1 0 000-1.415l-2.121-2.12a1 1 0 00-1.414 0L15 13.313v1.414l3.314-3.314 2.121 2.122L16.971 17z%27/%3E%3C/g%3E%3C/svg%3E)
}

.icon--library {
  -webkit-mask-image: url(data:image/svg+xml;charset=utf8,%3Csvg fill=%27none%27 height=%2732%27 width=%2732%27 xmlns=%27http://www.w3.org/2000/svg%27%3E%3Cpath clip-rule=%27evenodd%27 d=%27M15.373 22h1.258c.28-.32.616-.597.995-.819 1.478-.862 4.005-.909 5.386.109H24.5v-9.2s-.797-2.25-4.42-2.25c-1.875 0-2.902.602-3.456 1.184a2.568 2.568 0 00-.6.976h-.048a2.569 2.569 0 00-.6-.976c-.554-.582-1.581-1.184-3.456-1.184-3.623 0-4.42 2.25-4.42 2.25v9.19h1.488c1.382-1.019 3.91-.97 5.388-.105.38.223.717.503.997.825zm1.127-9.711v8.457c.195-.157.403-.3.622-.428.927-.541 2.115-.796 3.241-.787 1.006.008 2.081.227 2.952.759h.185v-7.973a2.414 2.414 0 00-.505-.595c-.46-.397-1.33-.882-2.915-.882-1.586 0-2.34.483-2.695.835a1.749 1.749 0 00-.353.49 1.076 1.076 0 00-.052.131l-.005.017.001-.006.002-.008v-.005l.001-.002v-.002l-.005-.001zm-1 0h-.474l-.006.001v.002l.001.002.001.005.002.008.001.006-.005-.017a1.076 1.076 0 00-.053-.131 1.749 1.749 0 00-.353-.49c-.354-.351-1.108-.835-2.694-.835-1.585 0-2.455.485-2.916.882a2.411 2.411 0 00-.504.595v7.963h.185c.872-.532 1.948-.752 2.954-.759 1.128-.008 2.316.249 3.243.792.217.127.424.27.618.426z%27 fill=%27%23000%27 fill-rule=%27evenodd%27/%3E%3C/svg%3E);
  mask-image: url(data:image/svg+xml;charset=utf8,%3Csvg fill=%27none%27 height=%2732%27 width=%2732%27 xmlns=%27http://www.w3.org/2000/svg%27%3E%3Cpath clip-rule=%27evenodd%27 d=%27M15.373 22h1.258c.28-.32.616-.597.995-.819 1.478-.862 4.005-.909 5.386.109H24.5v-9.2s-.797-2.25-4.42-2.25c-1.875 0-2.902.602-3.456 1.184a2.568 2.568 0 00-.6.976h-.048a2.569 2.569 0 00-.6-.976c-.554-.582-1.581-1.184-3.456-1.184-3.623 0-4.42 2.25-4.42 2.25v9.19h1.488c1.382-1.019 3.91-.97 5.388-.105.38.223.717.503.997.825zm1.127-9.711v8.457c.195-.157.403-.3.622-.428.927-.541 2.115-.796 3.241-.787 1.006.008 2.081.227 2.952.759h.185v-7.973a2.414 2.414 0 00-.505-.595c-.46-.397-1.33-.882-2.915-.882-1.586 0-2.34.483-2.695.835a1.749 1.749 0 00-.353.49 1.076 1.076 0 00-.052.131l-.005.017.001-.006.002-.008v-.005l.001-.002v-.002l-.005-.001zm-1 0h-.474l-.006.001v.002l.001.002.001.005.002.008.001.006-.005-.017a1.076 1.076 0 00-.053-.131 1.749 1.749 0 00-.353-.49c-.354-.351-1.108-.835-2.694-.835-1.585 0-2.455.485-2.916.882a2.411 2.411 0 00-.504.595v7.963h.185c.872-.532 1.948-.752 2.954-.759 1.128-.008 2.316.249 3.243.792.217.127.424.27.618.426z%27 fill=%27%23000%27 fill-rule=%27evenodd%27/%3E%3C/svg%3E)
}

.icon--plus {
  -webkit-mask-image: url(data:image/svg+xml;charset=utf8,%3Csvg fill=%27none%27 height=%2732%27 width=%2732%27 xmlns=%27http://www.w3.org/2000/svg%27%3E%3Cpath d=%27M15.5 15.5v-5h1v5h5v1h-5v5h-1v-5h-5v-1z%27 fill=%27%23000%27/%3E%3C/svg%3E);
  mask-image: url(data:image/svg+xml;charset=utf8,%3Csvg fill=%27none%27 height=%2732%27 width=%2732%27 xmlns=%27http://www.w3.org/2000/svg%27%3E%3Cpath d=%27M15.5 15.5v-5h1v5h5v1h-5v5h-1v-5h-5v-1z%27 fill=%27%23000%27/%3E%3C/svg%3E)
}

.icon--minus {
  -webkit-mask-image: url(data:image/svg+xml;charset=utf8,%3Csvg fill=%27none%27 height=%2732%27 width=%2732%27 xmlns=%27http://www.w3.org/2000/svg%27%3E%3Cpath d=%27M21.5 16.5h-11v-1h11z%27 fill=%27%23000%27/%3E%3C/svg%3E);
  mask-image: url(data:image/svg+xml;charset=utf8,%3Csvg fill=%27none%27 height=%2732%27 width=%2732%27 xmlns=%27http://www.w3.org/2000/svg%27%3E%3Cpath d=%27M21.5 16.5h-11v-1h11z%27 fill=%27%23000%27/%3E%3C/svg%3E)
}

.icon--adjust {
  -webkit-mask-image: url(data:image/svg+xml;charset=utf8,%3Csvg fill=%27none%27 height=%2732%27 width=%2732%27 xmlns=%27http://www.w3.org/2000/svg%27%3E%3Cg clip-rule=%27evenodd%27 fill=%27%23000%27 fill-rule=%27evenodd%27%3E%3Cpath d=%27M12 16.05V9h1v7.05a2.5 2.5 0 010 4.9V23h-1v-2.05a2.5 2.5 0 010-4.9zm2 2.45a1.5 1.5 0 11-3 0 1.5 1.5 0 013 0zM19 23h1v-7.05a2.5 2.5 0 000-4.9V9h-1v2.05a2.5 2.5 0 000 4.9zm2-9.5a1.5 1.5 0 10-3 0 1.5 1.5 0 003 0z%27/%3E%3C/g%3E%3C/svg%3E);
  mask-image: url(data:image/svg+xml;charset=utf8,%3Csvg fill=%27none%27 height=%2732%27 width=%2732%27 xmlns=%27http://www.w3.org/2000/svg%27%3E%3Cg clip-rule=%27evenodd%27 fill=%27%23000%27 fill-rule=%27evenodd%27%3E%3Cpath d=%27M12 16.05V9h1v7.05a2.5 2.5 0 010 4.9V23h-1v-2.05a2.5 2.5 0 010-4.9zm2 2.45a1.5 1.5 0 11-3 0 1.5 1.5 0 013 0zM19 23h1v-7.05a2.5 2.5 0 000-4.9V9h-1v2.05a2.5 2.5 0 000 4.9zm2-9.5a1.5 1.5 0 10-3 0 1.5 1.5 0 003 0z%27/%3E%3C/g%3E%3C/svg%3E)
}

/* Checkbox */
.checkbox__label:before {
  border: 1px solid var(--figma-color-border-strong)
}

.checkbox__box:checked + .checkbox__label:before {
  background-color: var(--figma-color-bg-brand);
  border: 1px solid var(--figma-color-bg-brand)
}

/* Switch */
.switch__label:before {
  background-color: var(--figma-color-bg-disabled)
}

.switch__label:before,
.switch__label:after {
  border: 1px solid var(--figma-color-bg-disabled)
}

.switch__toggle:checked + .switch__label:before {
  background-color: var(--figma-color-bg-brand)
}

.switch__toggle:checked + .switch__label:before,
.switch__toggle:checked + .switch__label:after {
  border: 1px solid var(--figma-color-bg-brand)
}

/* Button */
.button--primary {
  background-color: var(--figma-color-bg-brand);
  color: var(--figma-color-text-onbrand)
}

.button--primary:enabled:hover {
  background-color: var(--figma-color-bg-brand-hover)
}

.button--primary:enabled:active {
  border: 2px solid var(--figma-color-bg-brand-pressed);
  background-color: var(--figma-color-bg-brand-pressed)
}

.button--primary:enabled:focus {
  border: 2px solid var(--figma-color-border-brand-strong);
  background-color: var(--figma-color-bg-brand-pressed)
}

.button--secondary {
  background-color: var(--figma-color-bg);
  color: var(--figma-color-text);
  border: 1px solid var(--figma-color-border-strong)
}

.button--secondary:hover {
  background-color: var(--figma-color-bg-hover)
}

.button--secondary:enabled:focus {
  border: 2px solid var(--figma-color-border-selected)
}

.button--secondary:enabled:active {
  background-color: var(--figma-color-bg-hover);
  border: 2px solid var(--figma-color-border-selected)
}

.button--tertiary a {
  color: var(--figma-color-text-brand);
  text-decoration: none
}

.icon-button * {
  filter: none
}

.icon-button:hover {
  background: var(--figma-color-bg-hover)
}

.icon-button:focus {
  border: 2px solid var(--figma-color-border-selected)
}

.icon-button:active {
  background: transparent;
  border: 2px solid transparent
}

/* Select menu */
.select-menu__button {
  background-color: var(--figma-color-bg);
  padding: 0 0 0 var(--size-xxsmall)
}

.select-menu__button:hover {
  border-color: var(--figma-color-border)
}

.select-menu__button:focus {
  border: 1px solid var(--figma-color-border-selected);
  outline: 1px solid var(--figma-color-border-selected)
}

.select-menu__caret {
  mask-image: url(data:image/svg+xml;utf8,%3Csvg%20fill%3D%22none%22%20height%3D%2230%22%20viewBox%3D%220%200%2030%2030%22%20width%3D%2230%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20clip-rule%3D%22evenodd%22%20d%3D%22m15%2016.7071-3-3%20.7071-.7071%202.6465%202.6464%202.6464-2.6464.7071.7071-3%203-.3535.3536z%22%20fill%3D%22%23000%22%20fill-rule%3D%22evenodd%22%2F%3E%3C%2Fsvg%3E);
  -webkit-mask-image: url(data:image/svg+xml;utf8,%3Csvg%20fill%3D%22none%22%20height%3D%2230%22%20viewBox%3D%220%200%2030%2030%22%20width%3D%2230%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20clip-rule%3D%22evenodd%22%20d%3D%22m15%2016.7071-3-3%20.7071-.7071%202.6465%202.6464%202.6464-2.6464.7071.7071-3%203-.3535.3536z%22%20fill%3D%22%23000%22%20fill-rule%3D%22evenodd%22%2F%3E%3C%2Fsvg%3E);
  background: var(--figma-color-icon-disabled);
  opacity: 1
}

.select-menu__button:hover .select-menu__caret,
.select-menu__button:focus .select-menu__caret {
  background: var(--figma-color-icon)
}

.select-menu__menu {
  outline: 1px solid rgba(255, 255, 255, .1);
  outline-offset: -1px
}

.select-menu--highlight,
.select-menu__item:hover,
.select-menu__item:focus {
  background-color: var(--figma-color-bg-brand)
}

/* Input */
.input__field {
  --black8: var(--figma-color-text);
  --white: var(--figma-color-bg)
}

.input__field:hover,
.input__field:placeholder-shown:hover {
  --black8: var(--figma-color-text);
  --black1: var(--figma-color-border)
}

.input__field:active,
.input__field:focus {
  --blue: var(--figma-color-border-selected);
  --black: var(--figma-color-text)
}
