/* Layout */
div, ul, li, section, input {
  cursor: default
}

div#react-page {
  height: 100%;
  user-select: none
}

main {
  height: inherit;
  display: flex;
  flex-direction: column;
}

section {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden
}

div.message {
  margin: auto
}

div.controls {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: scroll
}

div.actions {
  flex: 0 0 var(--size-xxlarge)
}

div.lightness-scale,
div.starting-colors {
  padding: var(--size-xsmall) var(--size-small);
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center
}

div.lightness-scale {
  gap: var(--size-medium)
}

div.starting-colors {
  border-top: 1px solid var(--silver)
}

div.actions {
  width: 100%;
  padding: var(--size-xsmall) var(--size-small);
  border-top: 1px solid var(--silver);
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  gap: var(--size-xxsmall)
}

div.actions .buttons {
  display: flex;
  gap: var(--size-xxsmall)
}

div.title-with-icon {
  display: flex
}

/* Tabs */
div.tabs {
  flex: 0 0 var(--size-large);
  display: flex;
  flex-direction: row;
  align-items: stretch;
  padding: 0 var(--size-xsmall);
  border-bottom: 1px solid var(--silver);
  user-select: none
}

div.tabs .tabs__tab {
  padding: 0 var(--size-xxsmall);
  font-weight: var(--font-weight-medium);
  color: var(--black3-opaque);
  line-height: var(--size-large)
}

div.tabs .tabs__tab:hover {
  color: var(--black-8-opaque)
}

div.tabs .tabs__tab--active {
  font-weight: var(--font-weight-bold);
  color: var(--black-8-opaque)
}

/* Slider */
div.slider {
  display: flex;
  align-items: center;
  position: relative
}

div.slider .slider__range {
  flex: 1 1 auto;
  height: var(--size-small);
  background: linear-gradient(-90deg, var(--white) 0%, var(--black) 100%);
  border-radius: var(--border-radius-large);
  box-shadow: inset 0 0 0 1px var(--black3);
  position: relative
}

div.slider .slider__knob {
  width: var(--size-medium);
  height: var(--size-xxlarge);
  background: transparent;
  transform: translateX(-50%) translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  cursor: ew-resize;
  z-index: 1
}

div.slider .slider__label {
  height: var(--size-small);
  border-radius: var(--border-radius-small);
  background: var(--white);
  box-shadow: 0 0 0 1px var(--black3-opaque);
  padding: var(--size-xxxsmall);
  text-align: center;
  position: relative;
  pointer-events: none
}

div.slider .slider__knob:hover .slider__label {
  background: var(--selection-b);
  box-shadow: 0 0 0 1px var(--blue)
}

div.slider .slider__knob:active .slider__label {
  box-shadow: 0 0 0 2px var(--blue)
}

div.slider .slider__knob:hover .slider__label:before {
  border-top-color: var(--blue)
}

div.slider .slider__knob:active .slider__label:before {
  border-top-color: var(--blue);
  border-width: 6px;
  left: calc(50% - 6px);
  bottom: -12px
}

div.slider .slider__knob:hover .slider__label:after,
div.slider .slider__knob:active .slider__label:after {
  border-top-color: var(--selection-b)
}

div.slider .slider__label:before {
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: var(--size-xxxsmall);
  border-top-color: var(--black3-opaque);
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
  position: absolute;
  bottom: calc(var(--size-xxxsmall) * -2);
  left: calc(50% - var(--size-xxxsmall))
}

div.slider .slider__label:after {
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 3px;
  border-top-color: var(--white);
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
  position: absolute;
  bottom: -6px;
  left: calc(50% - 3px)
}

div.slider .slider__tooltip {
  padding: var(--size-xxxsmall);
  background: var(--black);
  color: var(--white);
  position: absolute;
  transform: translateX(-50%) translateY(-100%);
  left: 50%;
  top: calc(var(--size-xsmall) * -1);
  user-select: none;
  display: none
}

div.slider .slider__knob:hover .slider__tooltip {
  display: block !important
}

div.slider .slider__tooltip:after {
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: var(--size-xxxsmall);
  border-top-color: var(--black);
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
  position: absolute;
  bottom: -8px;
  left: calc(50% - var(--size-xxxsmall))
}

div.slider .slider__graduation {
  width: 1px;
  height: var(--size-xxxsmall);
  background: var(--black3-opaque);
  pointer-events: none
}

/* Inputs */
input[type="color" i] {
  width: var(--size-xsmall);
  height: var(--size-xsmall);
  position: absolute;
  top: var(--size-xxsmall);
  left: var(--size-xxsmall);
  z-index: 1;
  background-color: transparent;
  padding: 0;
  appearance: none;
  background-color: transparent;
  appearance: none;
  border: none
}

input[type="color" i]::-webkit-color-swatch-wrapper {
	padding: 0;
}

input[type="color" i]::-webkit-color-swatch {
	border: none;
  box-shadow: rgba(0, 0, 0, 0.1) 0 0 0 1px inset
}

input[type="color" i]:focus {
  outline: 1px solid var(--blue);
  outline-offset: -1px
}

input[type="color" i]:focus ~ input {
  border: 1px solid var(--blue);
  outline: 1px solid var(--blue);
  outline-offset: -2px
}

input[type='number']::-webkit-inner-spin-button {
  display: none
}

/* Icon buttons */
div.icon-button {
  cursor: default
}

div.icon {
  pointer-events: none
}

/* Color items */
ul.colors {
  padding: 0;
  margin: 0
}

li.colors__item {
  display: flex;
  gap: var(--size-xsmall)
}

li.colors__item label {
  flex: 1
}

div.colors__parameters {
  display: flex;
  flex: 4;
  gap: var(--size-xxxsmall)
}

div.colors__parameters div {
  flex: 0 0 88px
}
